#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 8em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.siguiente {
  background-color: #09c4f2;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

input {
  font-size: 1em;
  margin: 0.5em;
  padding: 0.5em;
}

.label {
  color: #101010;
  border-radius: 5px;
  padding: 1.5em;
}

.button-control {
  margin: 2em;
  padding: 0.5em;
}

.label-green {
  background-color: #78f314;
  border-radius: 0px;
  top: 20px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

